<!-- @author: Thomas Thompson
@github: tomtom28
@comment: Homework 14 - Eat the Burger!
 -->


<div class="row">
  <center>
    <!-- Left side (ready to eat) -->
    <div class="col-md-6">
      <h4 class="red_font">Ready to eat!</h4>
      <div id="ready_to_eat">

        <!-- Dynamically Insert Ready Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Right side (already eaten) -->
    <div class="col-md-6">
      <h4 class="red_font">Already eaten!</h4>
      <div id="already_eaten">

        <!-- Dynamically Insert Eaten Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
              <span class="input-group-btn">
                <button class="btn btn-info whine-button" type="button">Whine!</button>
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>